# This tells yarn where to download packages from
registry="https://artifactory.prod.tableautools.com/artifactory/api/npm/tab-npm"

# Authentication data is needed for publishing. The token below is valid for workgroupuser on https://artifactory.prod.tableautools.com/. To re-generate:
# > curl -uworkgroupuser:HardW0rker "https://artifactory.prod.tableautools.com/artifactory/api/npm/auth"
_auth = d29ya2dyb3VwdXNlcjpBUDlkZlIzQWFrUFlDWUNLZlNTcjV0WmtzRms=
always-auth = true

# Npm registries require an email.
email = wix@tableau.com
